<div class="span10">
  <form>
    <fieldset>
      <%= form_for(@user) do |f| %>

      <%= f.error_messages :header_message => "Registro Invalido!",
       		:message => "Necesitas arreglar los siguientes campos",
       		:header_tag => :h3 %>

      <div class="clearfix">
        <%= f.label "Nombres" %> 
        <div class="input">
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Apellidos" %>
        <div class="input">
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Numero de Cedula" %>
        <div class="input">
          <%= f.text_field :id_number %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Correo Electronico" %>
        <div class="input">
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Confirmar Correo Electronico" %>
        <div class="input">
          <%= f.text_field :email_confirmation %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Teléfono de Casa" %>
        <div class="input">
          <%= f.phone_field :phone_home %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Teléfono Móvil" %>
        <div class="input">
          <%= f.phone_field :phone_mobile %>
        </div>
      </div>

      <div class="clearfix">
        <%=f.label "Genero"%>
        <div class="input">
          <ul class="input-list">
            <li>
              <%=radio_button(:user, :gender, :hombre) %>
              <%=f.label :Hombre %>              
            </li>
            <li>
              <%=radio_button(:user, :gender, :mujer)  %>
              <%=f.label :Mujer %>              
            </li>
          </ul>
        </div>
      </div>
      
      <div class="clearfix">
        <%= f.label "Dirección" %>
        <div class="input">
          <%= f.text_area :address, :size=> "10x4" %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Contraseña" %>
        <div class="input">
          <%= f.password_field :password %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Confirmar Contraseña" %>
        <div class="input">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>

      <div class="clearfix">
        <%= f.label "Rol"%>
        <div class="input">
          <%= f.text_field :role %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit :value => "Crear Cuenta" %>
      </div>
      <% end %>
    </fieldset>
  </form>
</div>
