<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> corrija para continuar su registro:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Nombres" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Apellidos" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Numero de Cedula" %><br />
    <%= f.text_field :id_number %>
  </div>
  <div class="field">
    <%= f.label "Correo Electronico" %><br />
    <%= f.text_field :email %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Telefono de Casa" %><br />
    <%= f.phone_field :phone_home %>
  </div>
  <div class="field">
    <%= f.label "Telefono Mobil" %><br />
    <%= f.phone_field :phone_mobile %>
  </div>
  <div class="field">
	   <%=f.label "Genero"%><br />
  	   <%=f.label :Hombre %>
  	   <%=radio_button(:user, :gender, :hombre) %>
  	   <br />
  	   <%=f.label :Mujer %>
  	   <%=radio_button(:user, :gender, :mujer)  %>
  </div>
  
  <div class="field">
    <%= f.label "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br />
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Rol"%><br />
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


