<%= form_for(@user) do |f| %>

  <%= f.error_messages :header_message => "Registro Invalido!",
   		:message => "Necesitas arreglar los siguientes campos",
   		:header_tag => :h3 %>

  <div class="field">
    <%= f.label "Nombres" %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label "Apellidos" %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label "Numero de Cedula" %><br />
    <%= f.text_field :id_number %>
  </div>
  <div class="field">
    <%= f.label "Correo Electronico" %><br />
    <%= f.text_field :email %>
    <%= f.label "Confirmar Correo Electronico" %>
    <%= f.text_field :email_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Telefono de Casa" %><br />
    <%= f.phone_field :phone_home %>
  </div>
  <div class="field">
    <%= f.label "Telefono Mobil" %><br />
    <%= f.phone_field :phone_mobile %>
  </div>
  <div class="field">
	   <%=f.label "Genero"%><br />
  	   <%=f.label :Hombre %>
  	   <%=radio_button(:user, :gender, :hombre) %>
  	   <br />
  	   <%=f.label :Mujer %>
  	   <%=radio_button(:user, :gender, :mujer)  %>
  </div>
  
  <div class="field">
    <%= f.label "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Contraseña" %><br />
    <%= f.password_field :password %>
    <%= f.label "Confirmar Contraseña" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label "Rol"%><br />
    <%= f.text_field :role %>
  </div>
  <div class="actions">
    <%= f.submit :value => "Crear Cuenta" %>
  </div>
<% end %>


