<h1>Listado de usuarios</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Id number</th>
    <th>Email</th>
    <th>Phone home</th>
    <th>Phone mobile</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Password</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.id_number %></td>
    <td><%= user.email %></td>
    <td><%= user.phone_home %></td>
    <td><%= user.phone_mobile %></td>
    <td><%= user.gender %></td>
    <td><%= user.address %></td>
    <td><%= user.password %></td>
    <td><%= user.role %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm:'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
