<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Apellido:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Número de cédula:</b>
  <%= @user.id_number %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @user.email %>
</p>

<p>
  <b>Teléfono local:</b>
  <%= @user.phone_home %>
</p>

<p>
  <b>Teléfono celular:</b>
  <%= @user.phone_mobile %>
</p>

<p>
  <b>Género:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Dirección:</b>
  <%= @user.address %>
</p>

<p>
  <b>Rol:</b>
  <%= @user.role %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Volver', users_path %>
